<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    </div>
<h1> <%= data.name; %></h1>      
<a class="button" href="/">Return to Pokemon Entries</a>
<p>Name: <%= data.name; %></p>
<p>Type: <%= data.type; %></p>
<p><img src="<%= data.img; %>"></p>
<style>
    body {
        background-image: linear-gradient(red, orange);
}
</style>
</body>
</html>